{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <title>
     About
    </title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
 
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top" style="background-color:#d7edff !important;padding-top:20px;padding-left:30px;padding-right:30px;box-sizing:border-box;">
      
      <a class="navbar-brand" href="/" style="width: 200px;display:flex;flex-direction:row;text-decoration: none;">
            <i class="fa-brands fa-pinterest" style="color:#004ba9;font-size:36px;"></i>
            <!-- <img src="{% static 'img/logo.png' %}" style="width:42px;height:40px;"> -->
            <h1 style="color:#004ba9;font-family: 'Roboto', sans-serif;font-size:20px;margin-left:5px;margin-top:8px;font-weight: 500;">Help centre</h1>
        </a>
       
        <div class="collapse navbar-collapse" id="navbarNav" >
          <ul class="navbar-nav ul_list" >
            
       
              <li class="nav-item active">
                <a class="nav-link li2" href="/login" >Login<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link li3" href="/signup" >Sign up<span class="sr-only">(current)</span></a>
              </li>
            
          </ul>
        </div>
      </nav>
      <div class="blue"></div>

<div class="cntnt">

    <h1>
        What is Pinterest?
    </h1>
    
    <h6>
    Pinterest is a visual discovery engine for finding ideas like recipes, home and style inspiration, and more.
    
    With billions of Pins on Pinterest, you'll always find ideas to spark inspiration. When you discover Pins you love, save them to boards to keep your ideas organised and easy to find. You can also create Pins to share your ideas with other people on Pinterest.
    
    You have to meet minimum age requirements to sign up, and we have certain protections in place for teens. Learn more about teen safety on Pinterest .
    
    </h6>
    <h1>
        Browse your home feed
    </h1>
    
    <h6>
        Your home feed is where you'll find Pins, people and businesses we think you'll love, based on your recent activity. We'll also show you Pins from the people and boards you choose to follow.

        You can also search for Pins by typing keywords into the search bar. Try typing 'birthday party' in the search bar to see ideas for birthday party decorations, party food recipes and birthday gift ideas.
    
    </h6>
    <h1>
        Discover ideas
    </h1>
    
    <h6>
        Your home feed is where you'll find Pins, people and businesses we think you'll love, based on your recent activity. We'll also show you Pins from the people and boards you choose to follow.

        You can also search for Pins by typing keywords into the search bar. Try typing 'birthday party' in the search bar to see ideas for birthday party decorations, party food recipes and birthday gift ideas.
    
    </h6>
    <h1>
        Save, share and shop Pins
    </h1>
    
    <h6>
        Pins are bookmarks that people use to save content they love on Pinterest. Pins can be images, videos or products.
        If you click through the Pin, you can visit the website to find out how to make it or where to buy it. As you discover Pins you love, click the red Save button to save them to your boards. Tried the perfect birthday cake recipe? Add a comment to tell people how it went or add helpful tips.

Sometimes you'll find a Pin that you know a friend will love. Click the share icon to send Pins directly to a friend or group in a message to pass the inspiration around. You can also use messages to chat to your friends. You can see your messages by clicking the speech ellipsis icon on your computer or by tapping  the dialogue ellipsis icon followed by Messages on your mobile device.

You can also search Pinterest for products to buy. Find a product Pin and click it to visit the retailer's website.
    
    </h6>
    <h1>
        Create Pins
    </h1>
    
    <h6>
        Upload an image from your computer or mobile device to create a Pin on Pinterest .

        You can also create and save Pins from images you find online by installing a Pinterest Save extension on your browser. Add a title and a description to each Pin you create and a website link if you have one.
        
        You can edit a Pin's information at any time and move it to any board.
    
    </h6>
    <h1>
        Create boards
    </h1>
    
    <h6>
        The Pins you save live on your boards. Name your boards and arrange them on your profile however you want. Invite other people on Pinterest to collaborate on Group boards to find even more ideas.

        To organise your Pins within boards, create board sections . Add a 'Decorations' or 'Party games' section to your Birthday party board to keep similar ideas in the same place. Organise your Pins however makes sense to you. 
        
        If you prefer to keep your Pins private or if you're throwing a surprise birthday party, you can make your board secret . Only you and anyone you invite can see your secret boards.
    </h6>
    
    <h1>
        View your profile
    </h1>
    
    <h6>
        Find all the Pins you save, boards you create and Pins you try in your profile . You can also see who’s following you and the boards and people you follow. Only you can see your secret boards when you view your own profile.
    </h6>

</div>

<div class="footr">

</div>