{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/editboard.css' %}" />
{% endblock %} {% block title %} Edit Board {% endblock %} {% block content %}

<div class="cardb">
  <form method="POST" class="frm" enctype="multipart/form-data">
    <i
      class="fa-brands fa-pinterest icn"
      style="color: #e51010; font-size: 36px"
    ></i>

    <h2>Update your Board</h2>

    {% csrf_token %} {{form.as_p}}

    <!-- <input type="checkbox" id="boolean" name="boolean" value="private">
        <label for="boolean"> Keep this board secret</label><br> -->
    <a href=""><button class="form-control" type="submit">Update</button> </a>
  </form>
</div>

{% endblock %}