
{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
   

{% block style %}
<link rel="stylesheet" href="{% static 'css/addpin.css' %}">
{%  endblock %}


{% block title %}
add product
{% endblock %}


{% block content %}


<h1 style="width:max-content;margin:auto;font-family:Arial, Helvetica, sans-serif;margin-top:20px;margin-bottom:20px;">Save Pin</h1>
<h2 style="width:max-content;margin:auto;font-family:Arial, Helvetica, sans-serif;margin-top:40px;margin-bottom:20px;">Choose the Board</h2>
<hr>


<form class="form" method="POST" enctype="multipart/form-data">

{% csrf_token %}




{% render_field form.board class="form-control" %}


<input class="btn btn-dark" type="submit" placeholder="Publish">

</form>
{% endblock %}